<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="feed" href="/feed/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%=$config['site']['title']%></title>
    <meta name="keywords" content="<%=$config['site']['description']%>"> 
    <meta name="author" content="<%=$config['site']['author']%>"> 

  </head>
  <body>
	<header>
		<a href='/'>Home</a> | <a href='/pages/about'>About</a>
	</header>
	<logobar>
		<h1><%=$config['site']['title']%></h1>
		<h2><%=$config['site']['description']%></h2>		
	</logobar>
    <section>	
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="https://github.com/fdiotalevi/persona-cms">Persona, the minimal personal content manager</a>
    </footer>
  </body>
</html>


